<div class="header">
	<h1 class="header-title iconfont">&#xe783;&nbsp;BookShare后台管理系统</h1>
	<span class="header-btn J_logout iconfont">&#xe7b5;&nbsp;注销登录</span>
</div>
<div class="menu">
	<ul>
		<li class="J_index-btn J_item iconfont"><a href="/admin/index.html">&#xe783;&nbsp;首页</a></li>
		<li class="J_manage-btn J_item iconfont"><a href="/admin/book_manage.html">&#xe6b7;&nbsp;书籍管理</a></li>
	</ul>
	<div class="menu-info">
		<h2 class="iconfont">&#xe64c;&nbsp;&nbsp;公告</h2>
		<p>时光静好，与君语；细水流年，与君同。</p>
	</div>
</div>