<style type="text/css">
.footer {
    min-height: 170px;
    width: 1190px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 7px 0 9px;
    border-top: 1px solid #ddd;
}

.footer p {
    padding-bottom: 8px;
    overflow: hidden;
    text-align: center;
}

.footer p span {
    margin: 0 4px;
    white-space: nowrap;
    color: #9c9c9c;
}
</style>
<div class="footer">
    <div class="footer-bd">
        <p>
            <span>2016-2016 zhaobin 版权所有</span>
        </p>
        <p>
            <span>指导老师:秦飞巍</span>
        </p>
    </div>
</div>
<script type="text/javascript" src="/unit/common/js/juicer-min.js"></script>
