@import "/common/css/iconfont/iconfont.css";

/* top-nav */

.content-wrap {
    width: 100%;
    margin: auto;
}
.content {
    width: 1190px;
    margin: 0 auto;
}
.detail {
	color: #333;
    margin-top: 20px;
    border-top: 2px solid #333;
}
.top-nav {
    position: relative;
    height: 60px;
    background-position: 0 47px;
    z-index: 120;
}
.top-nav .other-wrap {
    display: inline;
    float: left;
    width: 100%;
}
.top-nav .other {
    padding: 10px 0 0;
    height: 50px;
    border-radius: 0 0 4px;
}
.top-nav .other li {
	float: left;
    height: 40px;
    padding: 0 15px;
    border-right: 1px dotted #ddd;
    text-align: center;
}
.top-nav .other li h5 {
    color: #999;
    font-weight: 400;
    line-height: 20px;
}
.top-nav .other .simple {
	height: 50px;
}
.top-nav .other .avatar {
	float: left;
    margin-right: 10px;
}
.top-nav .other .avatar img {
    vertical-align: middle;
    max-width: 32px;
    max-height: 32px;
}
.top-nav .other .nick {
    float: left;
    height: 22px;
    width: 166px;
    overflow: hidden;
    font-weight: 700;
    color: #666;
    text-align: left;
}
.top-nav .other .school {
	text-align: left;
}
/* End top-nav */

/* layout */
.layout {

}
.col-main {
	float: left;
    width: 100%;
    min-height: 1px;
}
.main-wrap {
    margin-left: 750px;
}
.property {
    width: 440px;
    margin-top: 18px;
    overflow: hidden;
}
.property .title {
    font-size: 22px;
    line-height: 31px;
    font: 700 16px/24px "Microsoft YaHei";
}
.idle-info {
	padding: 10px 0;
    overflow: hidden;
    font-size: 14px;
}
.idle-info li {
    padding: 5px 0 5px 80px;
    white-space: nowrap;
    position: relative;
    zoom: 1;
}
.idle-info li a {
	color: #ffda44;
}
.idle-info span {
	float: left;
    width: 80px;
    font: 14px/1.5 tahoma,arial,simsun;
    margin: 0 0 0 -80px;
}
.col-sub {
	float: left;
    width: 730px;
    margin-left: -100%;
}
.album-wrap {
	position: relative;
    overflow: hidden;
    margin-top: 18px;
    width: 730px;
    height: 350px;
    background: #fff;
}
.album {
	display: table-cell;
    vertical-align: middle;
	height: 350px;
    width: 730px;
    position: relative;
    background: url("/images/dev/detail/2.png") repeat;
}
.album img {
	display: block;
	margin: 0 auto;
    max-width: 730px;
    max-height: 350px;
}
.idle-desc {
    margin-top: 30px;
    width: 730px;
}
.list-tabs {
    border-bottom: 5px solid #ffda44;
    line-height: 39px;
    height: 39px;
    background: #fff;
    border-radius: 0;
}
.list-tabs h3 {
	display: inline;
	background-color: #ffda44;
    height: 39px;
    line-height: 39px;
    color: #fff;
    float: left;
    outline: 0 none;
    overflow: hidden;
    padding: 0 25px;
    text-decoration: none;
    font: 700 16px/39px "Microsoft YaHei";
}
.desc-mod {
    margin: 40px 10px 80px 10px;
    font: 14px/26px tahoma,arial,simsun;
}
/* End layout */