@import "/common/css/iconfont/iconfont.css";

body {
	line-height: 1.5;
	font-size: 12px;
}
.clear:after {
	display: block;
	content: '';
	clear: both;
}

/* header */
.header-wrap {
	height: 90px;
	background: #5fc4e5;
}
.header {
    position: relative;
	width: 1190px;
	margin: 0 auto;
    font-size: 14px;
    font-family: Arial,Helvetica,sans-serif;
}
.header-logo {
	display: inline-block;
	height: 90px;
	margin-left: 5px;
	padding-left: 110px;
	line-height: 90px;
	font-size: 12px;
	color: #222;
	background: url("/images/dev/index/logo.png") no-repeat;
}

.header-nav {
	position: absolute;
	top: 28px;
	left: 320px;
}
.header-nav ul {
	display: inline;
}
.header-nav li {
	display: inline;
	line-height: 35px;
	padding: 8px 0;
	margin: 0 15px;
	font-size: 15px;
}
.header-nav li.active {
	border-bottom: 4px solid #000;
}
.header-nav a {
	color: #000;
	text-decoration: none;
}
.header-search {
	position: absolute;
	right: 65px;
	top: 27px;
	width: 220px;
	height: 36px;
	background: #333;
}
.input-search {
	position: absolute;
	left: 2px;
	top: 2px;
	width: 164px;
	height: 32px;
	padding: 0 10px;
	margin: 0;
	border: 0;
	outline: 0;
	font-size: 13px;
}
.btn-search {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 36px;
	height: 36px;
	margin: 0;
	padding: 0;
	border: 0;
	cursor: pointer;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	background: #333;
}
/* End header */

/* first module */

.content-wrap {
	width: 100%;
	margin: auto;
}
.content {
	width: 1190px;
	margin: 0 auto;
}
.first-mod {
	margin-top: 12px;
}
.school-box {
	float: left;
}
.school-list {
	width: 238px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
}
.list-item {
	position: relative;
    z-index: 192;
    height: 24px;
    margin-top: -1px;
    padding: 10px;
    border-top: 1px solid #f2f2f2;
    overflow: hidden;
    line-height: 26px;
}
.list-item a {
	color: #333;
}
.list-item b {
	display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.list-item .s1 {
	background: url("/images/dev/index/school/hd.jpg") no-repeat;
    background-size: 30px 30px;
}
.list-item .s2 {
	background: url("/images/dev/index/school/lg.jpg") no-repeat;
    background-size: 30px 30px;
}
.list-item .s3 {
	background: url("/images/dev/index/school/cm.jpg") no-repeat;
    background-size: 30px 30px;
}
.list-item .s4 {
	background: url("/images/dev/index/school/jl.jpg") no-repeat;
    background-size: 30px 30px;
}
.list-item .s5 {
	background: url("/images/dev/index/school/gs.jpg") no-repeat;
    background-size: 30px 30px;
}
.list-item .s6 {
	background: url("/images/dev/index/school/sf.jpg") no-repeat;
    background-size: 30px 30px;
}
.index-slide {
	float: left;
    display: inline;
    zoom: 1;
	width: 640px;
    height: 264px;
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden;
    margin: 0 10px;
    position: relative;
}
.user-box {
    float: left;
    display: inline;
    zoom: 1;
    position: relative;
	width: 288px;
    height: 264px;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    font-family: 'Microsoft Yahei';
    text-align: center;
}
.user-btn {
	height: 120px;
    background-color: #f4f4f4;
    cursor: pointer;
}
.btn-left {
	float: left;
    width: 144px;
    height: 120px;
}
.user-btn a {
	display: block;
    padding: 23px 0;
    border: 1px solid #efefef;
    margin-left: 9px;
    margin-top: 10px;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
    color: #333;
}
.main-title {
	display: inline-block;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
    color: #333;
}
.sub-title {
	display: block;
    color: #999;
}
.btn-right {
	float: left;
    width: 144px;
    height: 120px;
}
.btn-right a {
	margin-right: 9px;
}
.user-extend {
	position: relative;
    width: 288px;
    height: 144px;
    background-color: #fff;
    background: url("/images/dev/index/publish_bg.png") no-repeat;
}
.user-extend i{
	font-size: 36px;
	color: #ffda44;
}
.user-extend a {
	padding: 10px;
	line-height: 144px;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
	background: #5fc4e5;
	color: #333;
}
/* End first module */



