<!DOCTYPE html>
<html>
<head>
    <%- include('../../unit/layout/home/header.html')%>
    <title>闲书详情</title>
    <link rel="stylesheet" href="/src/less/home/detail.css" media="all" />
</head>
<body>
    <%- include('./common/nav.html')%>

    <div class="content-wrap">
        <div class="content">
            <div class="detail J_detail">
                
            </div>
        </div>
    </div>

    <%- include('./common/footer.html')%>

    <script type="template/javascript" id="book-tpl">
        <div class="top-nav clear">
            <div class="other-wrap">
                <ul class="other clear">
                    <li>
                        <div class="simple">
                            <div class="avatar">
                                <img src="${book.avatar}">
                            </div>
                            <div class="nick">
                                <p>${book.uname}</p>
                            </div>
                            <p class="school">
                                <a href="/home/list.html?school=${book.school_id}">${book.school_name}</a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <h5>闲书浏览次数</h5>
                        <span>${book.heat}</span>
                    </li>
                    <li>
                        <h5>最近编辑</h5>
                        <span>${book.modify_time}</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="layout clear">
            <div class="col-main">
                <div class="main-wrap">
                    <div class="property">
                        <h1 class="title">${book.bname}</h1>
                        <ul class="idle-info">
                            <li>
                                <span>状　　态：</span>
                                <em>${book.deposit_status ? '完成' : '未完成'}</em>
                            </li>
                            <li>
                                <span>成　　色：</span>
                                <em>${book.degree}成新</em>
                            </li>
                            <li>
                                <span>所在学校:</span>
                                <em>${book.school_name}</em>
                            </li>
                            <li class="contact">
                                <span>联系方式：</span> 
                                <em>${book.tel}</em>
                            </li>
                            <li>
                                <span>交易方式：</span> 
                                <em>线下自取</em>
                            </li>
                            <li>
                                <span>分　　类：</span>
                                <a href="/home/list.html?category=${book.tid}">${book.tname}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sub">
                <div class="album-wrap">
                    <div class="album">
                        <img src="${book.cover_img}">
                    </div>
                </div>
                <div class="idle-desc">
                    <div class="list-tabs">
                        <h3>闲书介绍</h3>
                    </div>
                    <div class="desc-mod">
                        <p>
                            <span>作　　者：</span>
                            <em>${book.author}</em>
                        </p>
                        <p>
                            <span>出&nbsp;&nbsp;版&nbsp;&nbsp;社：</span>
                            <em>${book.book_concern}</em>
                        </p>
                        ${book.book_desc}
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script type="text/javascript" src="/src/js/home/detail.js"></script>
</body>
</html>