<!DOCTYPE html>
<html>
<head>
    <%- include('../../unit/layout/home/header.html')%>
    <title>书籍详情</title>
    <link rel="stylesheet" href="/src/less/home/detail.css" media="all" />
</head>
<body>
	<div class="header">
		<div class="container">
			<h1 class="title">bookshare</h1>
			<p class="slogen">专业的书籍分享平台</p>
			<p class="user clear J_not-login">
				<a class="header-btn sign" href="/home/sign-up.html">注册·</a>
				<a class="header-btn login" href="/home/sign-in.html">登录</a>
			</p>
			<P class="user J_logined"></P>
			<div class="search">
				<i class="iconfont">&#xe651;</i>
				<input class="J_search" type="text" placeholder="输入关键字搜索"/>
			</div>
		</div>
	</div>
	<div class="content clear">
		<div class="info-wrapper">
			<a class="info-tab J_info-tab" href="/home/index.html">
				<i class="iconfont">&#xe783;</i>
				首页
			</a>			
			<a class="info-tab J_info-tab" href="/home/publish.html">
				<i class="iconfont">&#xe7cb;</i>
				发布信息
			</a>
		</div>
		<div class="book-wrapper J_book-wrapper">
			
		</div>
	</div>
	<div class="footer"></div>
	<script type="text/template" id="tpl">
		<div class="book-header clear">
				<div class="book-img">
					<img src="${book.cover_img}">
				</div>
				<div class="book-user">
					<h2 class="book-name">${book.bname}</h2>
					<p class="user-name"><span>联系人</span>${book.true_name}</p>
					<p class="user-tel"><span>手机号</span>${book.tel}</p>
				</div>
			</div>
			<div class="book-content">
				<p class="content-info"><strong>作者</strong><span>${book.author}</span></p>
				<p class="content-info"><strong>出版社</strong><span>${book.book_concern}</span></p>
				<p class="content-info"><strong>数量</strong><span>${book.count}</span></p>
				<p class="content-info"><strong>描述</strong><span>${book.book_desc}</span></p>				
			</div>
	</script>
	
    <script type="text/javascript" src="/unit/common/js/jquery.min.js"></script>
	<script type="text/javascript" src="/unit/common/js/juicer-min.js"></script>
    <script type="text/javascript" src="/src/js/home/detail.js"></script>
</body>
</html>