<!DOCTYPE html>
<html>
<head>
    <%- include('../../unit/layout/home/header.html')%>
    <title>首页</title>
    <link rel="stylesheet" href="/src/less/home/index.css" media="all" />
</head>
<body>
	<div class="header">
		<div class="container">
			<h1 class="title">bookshare</h1>
			<p class="slogen">专业的书籍分享平台</p>
			<a class="header-btn login" href="">登录</a>
			<a class="header-btn sign" href="">注册·</a>
			<div class="search">
				<i class="iconfont">&#xe651;</i>
				<input type="text" placeholder="输入关键字搜索"/>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="item">
			<div class="item-img">
				<img src="" />
			</div>
			<div class="item-info">
				<h2 class="item-title">高等数学(上)</h2>
				<p class="item-author"></p>
				<p class="item-concern"></p>
				<p class="item-user">
					<span></span>
					<span></span>
				</p>
			</div>
		</div>
	</div>
    <script type="text/javascript" src="/unit/common/js/jquery.min.js"></script>
    <script type="text/javascript" src="/src/js/home/index.js"></script>
</body>
</html>