<!DOCTYPE html>
<html>
<head>
    <%- include('../../unit/layout/home/header.html')%>
    <title>首页</title>
    <link rel="stylesheet" href="/src/less/home/index1.css" media="all" />
</head>
<body>
	<div class="header-wrap">
		<div class="header">
			<h1 class="header-logo">不要让你的书闲着！</h1>
			<div class="header-nav">
				<ul>
					<li class="active"><a href="/home/index1.html">首页</a></li>
					<li><a href="/home/publish.html">发布闲书</a></li>
					<li><a href="/home/user.html">我的闲书</a></li>
				</ul>
			</div>
			<div class="header-search">
				<input class="input-search" type="text">
				<button class="btn-search">
					<i class="iconfont">&#xe651;</i>
					<span class="search-img"></span>
				</button>
			</div>
		</div>
	</div>
	<div class="content-wrap">
		<div class="content">
			<div class="first-mod clear">
				<div class="school-box">
					<ul class="school-list">
						<li class="list-item">
							<b class="s1"></b>
							<a href="/home/list.html?school_id=1">杭州电子科技大学</a>
						</li>
						<li class="list-item">
							<b class="s2"></b>
							<a href="/home/list.html?school_id=2">浙江理工大学</a>
						</li>
						<li class="list-item">
							<b class="s3"></b>
							<a href="/home/list.html?school_id=3">浙江传媒大学</a>
						</li>
						<li class="list-item">
							<b class="s4"></b>
							<a href="/home/list.html?school_id=4">中国计量大学</a>
						</li>
						<li class="list-item">
							<b class="s5"></b>
							<a href="/home/list.html?school_id=5">浙江工商大学</a>
						</li>
						<li class="list-item">
							<b class="s6"></b>
							<a href="/home/list.html?school_id=6">杭州师范大学</a>
						</li>
					</ul>
				</div>
				<div class="index-slide">
					<img src="/images/ad/1.png">
				</div>
				<div class="user-box">
					<div class="user-btn">
						<div class="btn-left">
							<a href="/home/sign-in.html">
								<span class="main-title">登录<i class="iconfont">&#xe619;</i></span>
								<span class="sub-title">登录即可发布闲书</span>
							</a>
						</div>
						<div class="btn-right">
							<a href="/home/sign-up.html">
								<span class="main-title">注册<i class="iconfont">&#xe618;</i></span>
								<span class="sub-title">还没有账号？</span>
							</a>
						</div>
					</div>
					<div class="user-extend">
						<a href="/home/publish.html">发布闲书</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer"></div>

	
    <script type="text/javascript" src="/unit/common/js/jquery.min.js"></script>
	<script type="text/javascript" src="/unit/common/js/juicer-min.js"></script>
    <script type="text/javascript" src="/src/js/home/index1.js"></script>
</body>
</html>