<!DOCTYPE html>
<html>
<head>
	<%- include('../../unit/layout/home/header.html') %>
	<title>发布信息</title>
	<link rel="stylesheet" type="text/css" href="/src/less/home/publish.css">
</head>
<body>

    <%- include('./common/nav.html')%>
	<div class="content clear">
		<div class="book-wrapper">
			<h2>编辑信息</h2>
			<div class="wrapper">
				<div class="form-group">
					<label>书名</label>
					<input class="form-input J_bookname" type="text" />
				</div>
				<div class="form-group">
					<label>数量</label>
					<input class="form-input J_count" type="text" />
				</div>
				<div class="form-group">
					<label>出版社</label>
					<input class="form-input J_concern" type="text" />
				</div>
				<div class="form-group">
					<label>作者</label>
					<input class="form-input J_author" type="text" />
				</div>
				<div class="form-group">
					<label>类别</label>
					<select class="form-input J_category">
						
					</select>
				</div>
				<div class="form-group">
					<label>成色</label>
					<select class="form-input J_degree">
						<option></option>
						<option value="9">9成新</option>
						<option value="8">8成新</option>
						<option value="7">7成新</option>
						<option value="6">6成新</option>
						<option value="5">5成新</option>
						<option value="4">4成新</option>
						<option value="3">3成新</option>
					</select>
				</div>
				<div class="form-group">
					<label>简介</label>
					<textarea class="form-textarea J_desc"></textarea>
				</div>
				<div class="form-group">
					<label>封面图</label>
					<div class="upload">
					<div class="upload-container">
						<span>选择图片</span>
					    <input type="file" name="fileToUpload" id="fileToUpload" class="fileupload" />
					</div>
					<div class="img-preview">
						<img class="J_preview" src="">
					</div>
					</div>
				</div>
				<div class="form-group">
					<label>&nbsp;</label>
					<span class="btn J_btn">提交</span>
				</div>

				<div class="form-group">
					<label>&nbsp;</label>
					<p class="publish-tip J_publish-tip"></p>
				</div>
			</div>
		</div>
		
	</div>

    <%- include('./common/footer.html')%>
	<script type="text/javascript" src="/src/js/home/publish.js"></script>
</body>
</html>